/* usa este fichero para personalizar tus vistas */
.msg {
    font-size: 60%;
}
/*Barra de navegación superior*/
.navbar {
    background-color: #9fc4f8;
    display: flex !important;
    flex-direction: row !important;
}

#navbarSupportedContent {
    width: 100%;
    align-items: center;
    display: flex;
}

#prueba, .navbar-nav {
    margin-left: 8%;
    margin-right: 8%;
}

.navbar-nav button {
    margin-right: 3%;
}
.nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Tamaño de las imágenes de la barra superior*/
.nav-item img {
    width: 30% !important;
}
.nav-item p{
    color:whitesmoke;
    margin-top: 10%;
}

/******************/
.wrapper {
    display: flex;
}

/*Barra lateral*/
#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

#sidebar {
    width: 15%;
    height: calc( 100vh - 102px);
    background: #acbed4;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left;
    /* Set the transformed position of sidebar to center left side. */
}

#sidebar.active {
    margin-left: -15%;
    transform: rotateY(100deg);
    /* Rotate sidebar vertically by 100 degrees. */
}

@media (max-width: 768px) {

    /* Reversing the behavior of the sidebar: 
       it'll be rotated vertically and off canvas by default, 
       collapsing in on toggle button click with removal of 
       the vertical rotation.   */
    #sidebar {
        margin-left: -15%;
        transform: rotateY(100deg);
    }

    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    /* Reversing the behavior of the bars: 
       Removing the rotation from the first,
       last bars and reappear the second bar on default state, 
       and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }

    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }

    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }

    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}


/*
    Modificar al gusto :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/*sidebar*/
#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    margin-top: 2%;
    color: #fff;
}

#sidebar ul li {
    text-align: center;
    text-decoration: none;
    margin-top: 10%;
}

#sidebar ul li a {
    color: whitesmoke;
}

#sidebar ul li a {
    text-decoration: none;
}

/*imágenes sidebar*/
.menu img {
    width: 60%;
    padding: 8%;
    border-radius: 8%;
}

/*Vista gestión de impresoras*/
#impresoras, #grupos, #documentos {
    width: 100% !important;
}

#impresoras h2, #grupos h2, #documentos h2 {
    margin: 5%;
    margin-bottom: 2%;
}

#impresoras table, #grupos table, #documentos table {
    width: 95%;
    margin-left: 5%;
    border: 2px solid black;
}


#impresoras table td, #grupos table td, #impresoras table th, #grupos table th, #documentos table td, #documentos table th{
  text-align: center;
}

.btn-outline-success {
    color: #718fb3 !important;
    border-color: #718fb3 !important;
}

.btn-outline-success:hover {
    color: white !important;
    background-color: #718fb3 !important;
    border-color: #718fb3 !important;
}

#submit_add {
    padding: 2px 10px;
    background-color: #57a732;
    color: whitesmoke;
    border-radius: 3px;
    float: right;
    margin-top: 2%;
    margin-right: 5%;
}
#submit_add:hover {
    background-color:  #214411;

}

#submit_v {
    padding: 2px 10px;
    background-color: #5988b4;
    color: whitesmoke;
    border-radius: 3px;
    margin-right: 3%;
    height: 3%;
}

#submit_v:hover {
    background-color:   #4d7091;
}

#submit_d {
    padding: 2px 10px;
    background-color: #b45959;
    color: whitesmoke;
    border-radius: 3px;
    height: 3%;
}
#submit_d:hover {
    background-color:  #682e2e;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    margin-right: 5%;
}

.table-wrapper-scroll-y {
    overflow: auto;
}
td img {
    margin-right: 10%;
}

.vd {
    display: flex !important;
    align-items: center !important;
}
.col-sm-3 {
    margin: 4% !important; 
    display: flex !important;
}
.form-control {
    margin-right: 5% !important;
    width: auto !important;
}

#printerAdd {
    padding: 5%;
}

form.print {
    padding: 0%;
}
#submit_printer, #submit_stop {
    color: white !important;
    background-color: #9fc4f8 !important;
    border:none;
}
.buttons {
    display: flex;
    justify-content:space-between;
    margin-left: 0px;
}
.work {
    margin:5%;
    align-items: center;
}
.work-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.accept {
    margin-left: 36px;
}
.add-top {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#inputFile {
    margin-bottom: 1em;
}